# Application Settings
PORT=5000

# PostgreSQL Credentials (Used to create the database in Docker)
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=sepa_db

# Prisma Database Connection String
# Note: Because the Node.js API runs inside Docker alongside Postgres, the host is 'postgres' instead of 'localhost'
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public"
